<h1>
    Login with your Credentials
</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit">
</form>