<h1>
    This is the secret page..
</h1>

<h4>
    You can put everything you want to be read only by authenticated users.
</h4>

<li>
    <a href="/register">Sign Up!</a>
</li>

<li>
    <a href="/login">Login</a>
</li>

<li>
    <a href="/logout">Logout</a>
</li>